/**************************************
GRID STYLES
**************************************/

body {
  height: 100vh;
  min-height: 100%;
  width: 100%;
  max-width: 1020px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: sans-serif;
  font-weight: lighter;
  position: relative;
  background-color: #5a6461;
  background-color: rgba(90, 100, 97, .1);
}

.grid {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 100px 3fr 3fr 100px;
  grid-gap: 10px;

  grid-template-areas:
  'header header'
  'heads-title heads-container'
  'tails-title tails-container'
  'footer footer';
}

header {
  grid-area: header;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.heads-title {
  grid-area: heads-title;
  background: -webkit-gradient(linear,left top, right top,color-stop(0, #e6007e),to(#a81815));
  background: -webkit-linear-gradient(left,#e6007e 0,#a81815 100%);
  background: -moz-linear-gradient(left,#e6007e 0,#a81815 100%);
  background: -o-linear-gradient(left,#e6007e 0,#a81815 100%);
  background: linear-gradient(to right,#e6007e 0,#a81815 100%);
  -moz-border-radius: 8px;
       border-radius: 8px;
  text-align: center;
}

.heads-container {
  grid-area: heads-container;
}

.tails-title {
  grid-area: tails-title;
  background: -webkit-gradient(linear,left top, right top,color-stop(0, #009fe3),to(#522583));
  background: -webkit-linear-gradient(left,#009fe3 0,#522583 100%);
  background: -moz-linear-gradient(left,#009fe3 0,#522583 100%);
  background: -o-linear-gradient(left,#009fe3 0,#522583 100%);
  background: linear-gradient(to right,#009fe3 0,#522583 100%);
  text-align: center;
  -moz-border-radius: 8px;
       border-radius: 8px;
}

.tails-container {
  grid-area: tails-container;
}

footer {
  grid-area: footer;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

/**************************************
MAIN STYLES
**************************************/

.logo {
  height: 100px;
  width: auto;
}

.message {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 0;
  margin: 0;
  color: #e6007e;
}

.scoreboard {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.heads-tails {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 30px;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.heads-tails h4 {
  text-align: center;
  margin: 5px 0;
}

#heads {
  background: -webkit-gradient(linear,left top, right top,color-stop(0, #009fe3),to(#522583));
  background: -webkit-linear-gradient(left,#009fe3 0,#522583 100%);
  background: -moz-linear-gradient(left,#009fe3 0,#522583 100%);
  background: -o-linear-gradient(left,#009fe3 0,#522583 100%);
  background: linear-gradient(to right,#009fe3 0,#522583 100%);
}

#tails,
.message .timer,
.message .results {
  background: -webkit-gradient(linear,left top, right top,color-stop(0, #e6007e),to(#a81815));
  background: -webkit-linear-gradient(left,#e6007e 0,#a81815 100%);
  background: -moz-linear-gradient(left,#e6007e 0,#a81815 100%);
  background: -o-linear-gradient(left,#e6007e 0,#a81815 100%);
  background: linear-gradient(to right,#e6007e 0,#a81815 100%);
}

.tally,
.timer,
.results {
  height: 50px;
  width: 70px;
  font-size: 32px;
  font-size: 2rem;
  color: white;
  text-align: center;
  line-height: 50px;
  -moz-border-radius: 8px;
       border-radius: 8px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.timer,
.results {
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.heads-title,
.tails-title {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 280px !important;
}

.tails-container,
.tails-title {
  margin-top: 30px;
}

.rotate {
  -webkit-transform: rotate(-90deg);
     -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  color: white;
  font-family: sans-serif;
  font-weight: lighter;
}

.tile {
  height: 60px;
  width: 80px;
  color: white;
  text-shadow: 2px 1px rgba(0, 0, 0, .2);
  border: solid 1px #DBE4ED;
  -moz-border-radius: 8px;
       border-radius: 8px;
  font-size: 48px;
  font-size: 3rem;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  line-height: 60px;
  position: relative;
  z-index: -10;
  margin: 0 5px 10px 0;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  -moz-border-radius: 5px;
       border-radius: 5px;

  background-color: #DBE4ED;
}

.number-drawn {
  height: 550px;
  width: 550px;
  -moz-border-radius: 50%;
       border-radius: 50%;
  background-color: lightgrey;
  color: white;
  text-shadow: 2px 1px rgba(0, 0, 0, .2);
  font-size: 400px;
  padding: 20px;
  text-align: center;
  z-index: 10;
  position: absolute;
  top: 120px;
  -webkit-box-shadow: 2px 4px 14px -1px rgba(0, 0, 0, .67);
     -moz-box-shadow: 2px 4px 14px -1px rgba(0, 0, 0, .67);
          box-shadow: 2px 4px 14px -1px rgba(0, 0, 0, .67);

  display: -webkit-box;

  display: -moz-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

footer h4,
footer p {
  text-align: center;
}

footer h4 {
  margin-bottom: 0;
}


/************************************
MEDIA QUERIES
************************************/

@media screen and (max-width: 1000px) {
  body {
    max-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .logo {
    height: 60px;
  }

  .message h3 {
    font-size: 16px;
    font-size: 1rem;
    margin: 5px;
  }

  .timer,
  .tally,
  .tile {
    height: 40px;
    width: 60px;
  }

  .tile {
    font-size: 32px;
    font-size: 2rem;
    line-height: 40px;
    line-height: 2.5rem;
  }

  .heads-title,
  .tails-title {
    height: 200px !important;
  }

  .rotate {
    font-size: 24px !important;
    font-size: 1.5rem !important;
  }

  .number-drawn {
    width: 350px;
    height: 350px;
    font-size: 300px;
  }

}

@media screen and (max-width: 850px) {

  .timer,
  .tally,
  .tile {
    height: 30px;
    width: 50px;
  }

  .tile {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 32px;
    line-height: 2rem;
  }

  .heads-title,
  .tails-title {
    height: 160px !important;
  }

  .rotate {
    font-size: 24px !important;
    font-size: 1.5rem !important;
  }

}

@media screen and (max-width: 700px) {

  .timer,
  .tally,
  .tile {
    height: 25px;
    width: 45px;
  }

  .tile {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 24px;
    line-height: 1.5rem;
  }

  .heads-title,
  .tails-title {
    height: 140px !important;
  }

  .rotate {
    font-size: 24px !important;
    font-size: 1.5rem !important;
  }

  .number-drawn {
    width: 300px;
    height: 300px;
    font-size: 260px;
    margin-left: auto;
    margin-right: auto;
  }

}

@media screen and (max-width: 500px) {

  .grid {
    grid-template-columns: 25px 1fr;
  }

  .heads-title,
  .tails-title {
    height: 120px !important;
  }

  .rotate {
    font-size: 16px;
    font-size: 1rem;
  }

  .tile {
    width: 25px;
    height: 20px;
    font-size: 1em;
    line-height: 1em;
  }

  .number-drawn {
    width: 250px;
    height: 250px;
    font-size: 220px;
  }

}
